/* 
    AUTHOR: Chris Coyier
            chriscoyier@gmail.com
            http://chriscoyier.net
*/

* { margin: 0; padding: 0; }

html { overflow-y: scroll; }

.clear {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

body { 
	font: 10px/2 "Lucida Grande", Helvetica, Sans-Serif;
	color: #eee;
}
.screen{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 100px; left: 100px;

}
.para{
    position: absolute;
    top:0px;
    left:px;
    }
#background {
        
	background: url(../images/bg.png);
	width: 100%;
        height: 100%;
	z-index: 100;
}

#midground {
        width: 100%;
        height: 100%;
	background: url(../images/mg.png);
	z-index: 150;
}

#foreground {
	background: url(../images/foreground.png) repeat 90% 110%;
	position: relative;
	top: 0; left: 0; 
	z-index: 200;
}

#sidebar {
	width: 160px;
	float: left;
	margin-right: 20px;
}

#main-content {
	width: 540px;
	float: right;
}

#page-wrap {
	width: 720px;
	margin: 0 auto;
	position: relative;
	z-index: 300;
	background: rgba(0,0,0,0.7);
	overflow: hidden;
	padding: 30px 50px;
	
	border-left: 10px solid rgba(255,255,255,0.2);
	border-right: 10px solid rgba(255,255,255,0.2);
}

h1 {
	font: 42px Georgia, Serif;
	margin: 0 0 10px 0;
	color: #eee;
}

h2 {
	font: 20px Georgia, Serif;
	margin: 0 0 1px 0;
	color: #eee;
}

h2.bump {
	text-indent: 200px;
}

p {
	margin: 0 0 15px 0;
	color: #999;
}

code {
	color: white;
	margin: -1px 0 0 0;
	font: 10px Courier;
}

p.thinParagraph {
	width: 340px;
}

blockquote {
	font: italic 15px/20px Georgia, Serif;
	width: 180px;
}

blockquote p {
	color: white;
}

blockquote.right {
	float: right;
}

ul.meta {
	width: 180px;
	margin: 0 10px 0 0;
	list-style: none;
	float: left;
}

ul.meta li {
	text-align: right;
}

ul.meta li.author {
	font: normal small-caps normal 15px Georgia, Serif;
	margin: 0 0 2px 0;
	letter-spacing: 2px;
}

ul.meta li.date {
	margin: 0 0 10px 0;
}

ul.meta li.comments {
	font-style: italic;
}

.article {
	float: right;
	width: 340px;
}

ol {
	margin: 20px 0;
	list-style: inside decimal;
}